.env
.env.*
!.env.example

server/.gradle/
server/build/
server/target/
server/bin/
server/.kotlin/
server/kls_database.db

hs_err_pid*.log

client/node_modules/
client/dist/
client/dist-ssr/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

logs/
*.log

.idea/
*.iml
*.iws
*.ipr

.vscode/*

.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
*.Zone.Identifier